.nowrap {
    white-space: nowrap;
}

/*
    Styles for the AutoComplete component
*/
.autocomplete-search-results {
    position:absolute;
    border:solid 1px #555;
    opacity:0.9;
}

.autocomplete-search-results .result-item {
    background-color:#ccc;
    color:#000;
    padding:.2em;
    cursor:pointer;
}

.autocomplete-search-results .result-item:hover {
    background-color:palegoldenrod;
    color:#000;
}

.autocomplete-search-results .result-item.selected {
    background-color:#000;
    color:#fff;
}

.autocomplete-search-results .disabled {
    background-color:#555;
    color:#fff;
    cursor:not-allowed;
}





/*
    Styles for the Paged Recordset component
*/
select.form-select.records-per-page {
    width:75px;
    display:inline-block;
    margin-left:.5em;
}

table.paged-recordset-navigation {
    width: 100%;
}

td.paged-recordset-left,
td.paged-recordset-center,
td.paged-recordset-right {
    font-size:0.8em;
}

td.paged-recordset-left {
    text-align: left;
    width: 33%;
}

td.paged-recordset-center {
    text-align: center;
    width: 33%;
}

td.paged-recordset-right {
    text-align: right;
    width: 33%;
}

td.paged-recordset-left .records-per-page {
    font-size:0.8em;
}

td.paged-recordset-right nav {
    float: right;
}

td.paged-recordset-right nav ul.pagination {
    font-size:0.8em;
    margin:0;
}

td.paged-recordset-right nav ul.pagination .page-link {
    padding: .2rem .4rem;
}

td.paged-recordset-right nav ul.pagination li.page-item:not(.disabled) {
    cursor:pointer;
}

td.paged-recordset-right nav ul.pagination li.page-item:not(.disabled):not(.active) div.page-link {
    background-color:#000;
    color:#fff;
}

.paged-recordset-margin-bottom {
    margin-bottom:.5em;
}

.paged-recordset-margin-top {
    margin-top: .5em;
}

ul.paged-recordset-pagination {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.page-link,
ul.paged-recordset-pagination li.page-item .page-link {
    min-width: 28px;
    text-align:center;
    padding:.2em .1em;
    background-color:#000;
    color:#fff;
    cursor:pointer;
}

ul.paged-recordset-pagination li.page-item.disabled div.page-link {
    background-color:#333;
    color:#ccc;
    cursor:default;
}

ul.paged-recordset-pagination li.page-item.active div.page-link {
    background-color:#0d6efd;
    color:#fff;
    cursor:default;
}

ul.paged-recordset-pagination li div.page-link {
    border-top:solid 1px #444;
    border-left:solid 1px #444;
    border-bottom:solid 1px #444;
}

ul.paged-recordset-pagination li:first-child div.page-link {
    border-top-left-radius:.5em;
    border-bottom-left-radius:.5em;
    border-top:solid 1px #444;
    border-bottom:solid 1px #444;
}

ul.paged-recordset-pagination li:last-child div.page-link {
    border-top-right-radius:.5em;
    border-bottom-right-radius:.5em;
    border-right:solid 1px #444;
    border-top:solid 1px #444;
    border-bottom:solid 1px #444;
}

table.paged-recordset-table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color:#000;
}

table.paged-recordset-table > :not(caption) > * > * {
    padding: 0.2rem 0.2rem;
    border-bottom-width: 1px;
}

table.paged-recordset-table > tbody {
    vertical-align: middle;
}

table.paged-recordset-table > thead {
    vertical-align: middle;
}

table.paged-recordset-table tr.table-dark {
    background-color:#000;
    color:#fff;
}

table.table.paged-recordset-table {
    font-size:0.85em;
}

table.table.paged-recordset-table tbody tr td {
    vertical-align:top;
}

table.table.paged-recordset-table thead tr th,
table.table.paged-recordset-table tbody tr td {
    border-style: none;
    padding:.3rem .2rem .15rem .2rem;
}

table.table.paged-recordset-table thead tr th button,
table.table.paged-recordset-table tbody tr td button {
    font-size:0.9em;
    padding:.1rem .25rem;
}

table.table.paged-recordset-table tr.even-row td {
    background-color: #eee;
    color:#000;
}

table.table.paged-recordset-table tr.odd-row td{
    background-color: #ddd;
    color:#000;
}

table.table.paged-recordset-table tr.sep-row td {
    border-style: solid;
    border-color: #dee2e6;
}

div.paged-recordset-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:baseline;
}

div.paged-recordset-left,
div.paged-recordset-center,
div.paged-recordset-right {
    font-size: 0.8em;
    flex-grow:1;
}

div.paged-recordset-center {
    text-align:center;
}

div.paged-recordset-right {
    margin-left:auto;
    text-align:right;
}

div.paged-recordset-right nav {
    display:inline-block;
    
}





/*
    Styles for the GeneratePassword control
*/
table.password-generator {
    width:100%;
}

table.password-generator tbody tr td {
    padding:0 0 .3em 0;
    vertical-align:top;
}

table.password-generator tbody tr td:last-child {
    padding-left:.3em;
}

table.password-generator tbody tr td:first-child {
    width:99%;
}

table.password-generator tbody tr td:last-child {
    width:1%;
    white-space:nowrap;
}

.password-generator-password {
    width: 100%;
}

.password-generator-length-input {
    width: 50px;
    display: inline-block;
}

.password-generator-refresh-button {
    min-width:40px;
    min-height:40px;
    border-radius:.2em;
    border:solid 1px #000;
    background-color:#444;
    color:#fff;
}

.password-generator-default-refresh-icon {
    font-size:1.5em;
}

table.password-generator .form-range {
    width: 100%;
}

table.password-generator input[type="text"],
table.password-generator input[type="number"] {
    padding: .4em;
    min-height:26px;
}

div.password-generator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

div.password-generator div.column1 {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 1em;
}

div.password-generator div.column2 {
    flex-shrink: 0;
}





/*
    Styles for the HtmlEditor control
*/
.html-editor:has(textarea.missing-required) iframe {
    background: palevioletred !important;
    background-color: palevioletred !important;
}





/* Undo some CSS set by the Quill snow theme for the editor area */
.ql-editor p,
.ql-editor ol,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
    margin: revert;
    padding: revert;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3,
.ql-snow .ql-editor h4,
.ql-snow .ql-editor h5,
.ql-snow .ql-editor h6 {
    font-size: revert;
}

.ql-snow .ql-editor a {
    text-decoration: unset;
}

.ql-snow .ql-editor blockquote {
    border-left: unset;
    margin-bottom: unset;
    margin-top: unset;
    padding-left: unset;
}

.ql-snow .ql-editor code {
    font-size: unset;
    padding: unset;
}

.ql-snow .ql-editor img {
    max-width: unset;
}

.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:hover,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:hover,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:focus,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:focus,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button.ql-active,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button.ql-active,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label:hover,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label:hover,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label.ql-active,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item:hover,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item:hover,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item.ql-selected,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:focus .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:focus .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button.ql-active .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button.ql-active .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:focus .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:focus .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button.ql-active .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button.ql-active .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.html-editor2-wrapper.dark .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: yellow;
    color: yellow;
}





/*
    Styles for the HtmlEditor2 control
*/
.html-editor2.missing-required {
    background: palevioletred;
    background-color: palevioletred;
}

.html-editor2.missing-required.source-mode textarea.source-editor-autogrow {
    background: palevioletred;
    background-color: palevioletred;
}

.html-editor2.missing-required.source-mode textarea.source-editor-autogrow::placeholder {
    color:#eee;
}

.html-editor2.missing-required .ql-editor.ql-blank::before {
    color: #eee;
}

.html-editor2-wrapper.dark .html-editor2 .ql-editor.ql-blank::before {
    color: #aaa;
}

.html-toolbar {
    font-family: unset;
    font-size: 13px;
}

.html-toolbar.source-view {
    height:42px;
}

.html-toolbar .toolbar-row {
    padding-bottom:.5em;
}

.html-toolbar .toolbar-row:last-child {
    padding-bottom:0;
}

.html-toolbar .custom-button {
    white-space: nowrap;
    width:auto !important;
    position:relative;
    top:-4px;
}

.monaco-editor {
    min-height: 100px;
}

.html-editor2 .ql-container.ql-snow {
    border-top: 0;
}

.html-editor2.source-mode .ql-container.ql-snow {
    padding: .5em;
}

.html-editor2 .source-editor-autogrow,
.html-editor2 .source-editor-autogrow:focus-visible {
    width: 100%;
    border: none;
    outline: none;
}

.ql-toolbar.ql-snow .ql-formats {
    padding-right: 3px;
    margin-right: 3px;
}

.ql-toolbar.ql-snow .toolbar-row .ql-formats {
    border-right: solid 1px #ccc;
}

.ql-toolbar.ql-snow .toolbar-row .ql-formats:last-child {
    border-right: none;
}

.html-toolbar .ql-group {
    display: inline-block;
    float: left;
}

.html-toolbar .ql-group legend {
    margin-bottom:0;
    white-space:nowrap;
    font-size:0.9em;
    font-weight:normal;
    opacity:0.7;
    padding-left:10px;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item {
    font-family: attr(data-value), serif;
    font-size:1.2em;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item[data-value="Cursive"] {
    font-family: cursive;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item[data-value="Courier New"] {
    font-family: 'Courier New', monospace;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item[data-value="Monospace"] {
    font-family: monospace;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item[data-value="Sans-Serif"] {
    font-family: sans-serif;
}

.html-toolbar .ql-font .ql-picker-options span.ql-picker-item[data-value="Serif"] {
    font-family: serif;
}

.html-editor2-wrapper.dark .html-toolbar,
.html-editor2-wrapper.dark .html-editor2,
.html-editor2-wrapper.dark .html-editor2 textarea {
    background-color: #000;
    color: #fff;
}

.html-editor2-wrapper.dark .html-toolbar button {
    color: #fff;
}

.html-editor2-wrapper.dark .html-toolbar .ql-picker-label {
    color:#fff;
}

.html-editor2-wrapper.dark .ql-snow .ql-stroke,
.html-editor2-wrapper.dark .ql-snow .ql-fill {
    stroke: #fff;
}

.ql-snow .ql-editor code,
.ql-snow .ql-editor .ql-code-block-container {
    background-color: unset !important;
    border-radius: unset !important;
}

.ql-snow .ql-editor .ql-code-block-container {
    background-color: unset !important;
    color: unset !important;
}

.ql-snow .ql-editor .ql-code-block-container {
    margin-bottom: unset !important;
    margin-top: unset !important;
    padding: unset !important;
}

.ql-picker.ql-font {
    white-space: nowrap !important;
}

.ql-snow .ql-picker.ql-font {
    width: 150px !important;
}

/*.ql-editor p {
    margin: 0 0 1em 0 !important;
    padding: 0 !important;
}

.ql-editor p:last-child {
    margin: 0 !important;
}
*/
.html-toolbar .custom-icon {
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
}

.html-toolbar .icon-source {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='black' d='M7 12.923a1 1 0 0 1-.554-.166.983.983 0 0 1-.277-1.373l4-5.94a1 1 0 0 1 1.385-.274.983.983 0 0 1 .277 1.373l-4 5.94a1 1 0 0 1-.833.44zm10.708-3.257l-3 2.97a1.02 1.02 0 0 1-1.42 0 .99.99 0 0 1 0-1.406l2.29-2.267-2.29-2.277a.98.98 0 0 1 0-1.4 1.015 1.015 0 0 1 1.42 0l3 2.97a.99.99 0 0 1 0 1.41zM4.712 11.23a.99.99 0 0 1 0 1.406 1.02 1.02 0 0 1-1.42 0l-3-2.97a.99.99 0 0 1 0-1.406l3-2.97a1.015 1.015 0 0 1 1.42 0 .98.98 0 0 1 0 1.4l-2.29 2.273z'/%3E%3C/svg%3E");
}

.html-editor2-wrapper.dark .html-toolbar .icon-source {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M7 12.923a1 1 0 0 1-.554-.166.983.983 0 0 1-.277-1.373l4-5.94a1 1 0 0 1 1.385-.274.983.983 0 0 1 .277 1.373l-4 5.94a1 1 0 0 1-.833.44zm10.708-3.257l-3 2.97a1.02 1.02 0 0 1-1.42 0 .99.99 0 0 1 0-1.406l2.29-2.267-2.29-2.277a.98.98 0 0 1 0-1.4 1.015 1.015 0 0 1 1.42 0l3 2.97a.99.99 0 0 1 0 1.41zM4.712 11.23a.99.99 0 0 1 0 1.406 1.02 1.02 0 0 1-1.42 0l-3-2.97a.99.99 0 0 1 0-1.406l3-2.97a1.015 1.015 0 0 1 1.42 0 .98.98 0 0 1 0 1.4l-2.29 2.273z'/%3E%3C/svg%3E");
}

.html-toolbar .icon-br {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg width="800px" height="800px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M6 9H42" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 19H42" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 29H24" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 39H16" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 39C24 39 34.2386 39 37 39C39.7614 39 42 36.7614 42 34C42 31.2386 39.7614 29 37 29C35.7115 29 32 29 32 29M24 39L28 35M24 39L28 43" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.html-editor2-wrapper.dark .html-toolbar .icon-br {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg width="800px" height="800px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path d="M6 9H42" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 19H42" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 29H24" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M6 39H16" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 39C24 39 34.2386 39 37 39C39.7614 39 42 36.7614 42 34C42 31.2386 39.7614 29 37 29C35.7115 29 32 29 32 29M24 39L28 35M24 39L28 43" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.html-toolbar .icon-blocks {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="black" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 72 72" enable-background="new 0 0 72 72" xml:space="preserve"><g><g><path d="M67.5,27.568c0,3.828-3.104,6.932-6.932,6.932H10.432c-3.828,0-6.932-3.104-6.932-6.932V10.432C3.5,6.604,6.604,3.5,10.432,3.5h50.137c3.828,0,6.932,3.104,6.932,6.932V27.568z M63.5,10.432c0-1.619-1.313-2.932-2.932-2.932H10.432C8.813,7.5,7.5,8.813,7.5,10.432v17.137c0,1.619,1.313,2.932,2.932,2.932h50.137c1.619,0,2.932-1.313,2.932-2.932V10.432z"/></g><g><g><path d="M11.5,19.5c-0.553,0-1-0.447-1-1v-1.802c0-2.556,1.246-5.198,3.96-5.198h6.664c0.553,0,1,0.447,1,1s-0.447,1-1,1H14.46c-1.462,0-1.96,1.626-1.96,3.198V18.5C12.5,19.053,12.052,19.5,11.5,19.5z"/></g><g><path d="M10.694,22.93c-0.26,0-0.521-0.11-0.71-0.29c-0.19-0.189-0.29-0.45-0.29-0.71s0.1-0.52,0.29-0.71c0.38-0.38,1.04-0.37,1.41,0c0.189,0.19,0.3,0.45,0.3,0.71s-0.11,0.521-0.29,0.7C11.204,22.819,10.954,22.93,10.694,22.93z"/></g></g><g><path d="M46.5,61.568c0,3.828-3.104,6.932-6.932,6.932H10.432c-3.828,0-6.932-3.104-6.932-6.932V44.432c0-3.828,3.104-6.932,6.932-6.932h29.137c3.828,0,6.932,3.104,6.932,6.932V61.568z M42.5,44.432c0-1.619-1.313-2.932-2.932-2.932H10.432c-1.619,0-2.932,1.313-2.932,2.932v17.137c0,1.619,1.313,2.932,2.932,2.932h29.137c1.619,0,2.932-1.313,2.932-2.932V44.432z"/></g><g><path d="M68.5,61.568c0,3.828-3.104,6.932-6.932,6.932h-5.137c-3.828,0-6.932-3.104-6.932-6.932V44.432c0-3.828,3.104-6.932,6.932-6.932h5.137c3.828,0,6.932,3.104,6.932,6.932V61.568z M64.5,44.432c0-1.619-1.313-2.932-2.932-2.932h-5.137c-1.619,0-2.932,1.313-2.932,2.932v17.137c0,1.619,1.313,2.932,2.932,2.932h5.137c1.619,0,2.932-1.313,2.932-2.932V44.432z"/></g></g></svg>');
}

.html-editor2-wrapper.dark .html-toolbar .icon-blocks {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="white" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 72 72" enable-background="new 0 0 72 72" xml:space="preserve"><g><g><path d="M67.5,27.568c0,3.828-3.104,6.932-6.932,6.932H10.432c-3.828,0-6.932-3.104-6.932-6.932V10.432C3.5,6.604,6.604,3.5,10.432,3.5h50.137c3.828,0,6.932,3.104,6.932,6.932V27.568z M63.5,10.432c0-1.619-1.313-2.932-2.932-2.932H10.432C8.813,7.5,7.5,8.813,7.5,10.432v17.137c0,1.619,1.313,2.932,2.932,2.932h50.137c1.619,0,2.932-1.313,2.932-2.932V10.432z"/></g><g><g><path d="M11.5,19.5c-0.553,0-1-0.447-1-1v-1.802c0-2.556,1.246-5.198,3.96-5.198h6.664c0.553,0,1,0.447,1,1s-0.447,1-1,1H14.46c-1.462,0-1.96,1.626-1.96,3.198V18.5C12.5,19.053,12.052,19.5,11.5,19.5z"/></g><g><path d="M10.694,22.93c-0.26,0-0.521-0.11-0.71-0.29c-0.19-0.189-0.29-0.45-0.29-0.71s0.1-0.52,0.29-0.71c0.38-0.38,1.04-0.37,1.41,0c0.189,0.19,0.3,0.45,0.3,0.71s-0.11,0.521-0.29,0.7C11.204,22.819,10.954,22.93,10.694,22.93z"/></g></g><g><path d="M46.5,61.568c0,3.828-3.104,6.932-6.932,6.932H10.432c-3.828,0-6.932-3.104-6.932-6.932V44.432c0-3.828,3.104-6.932,6.932-6.932h29.137c3.828,0,6.932,3.104,6.932,6.932V61.568z M42.5,44.432c0-1.619-1.313-2.932-2.932-2.932H10.432c-1.619,0-2.932,1.313-2.932,2.932v17.137c0,1.619,1.313,2.932,2.932,2.932h29.137c1.619,0,2.932-1.313,2.932-2.932V44.432z"/></g><g><path d="M68.5,61.568c0,3.828-3.104,6.932-6.932,6.932h-5.137c-3.828,0-6.932-3.104-6.932-6.932V44.432c0-3.828,3.104-6.932,6.932-6.932h5.137c3.828,0,6.932,3.104,6.932,6.932V61.568z M64.5,44.432c0-1.619-1.313-2.932-2.932-2.932h-5.137c-1.619,0-2.932,1.313-2.932,2.932v17.137c0,1.619,1.313,2.932,2.932,2.932h5.137c1.619,0,2.932-1.313,2.932-2.932V44.432z"/></g></g></svg>');
}

.html-toolbar .icon-hr {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="black" width="800px" height="800px" viewBox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.333333h12v1.333334H1V6.333333z"/><path fill="gray" d="M1 1h1.3333333v1.3333333H1V1zm0 2.6666667h1.3333333V5H1V3.6666667zM1 9h1.3333333v1.333333H1V9zm0 2.666667h1.3333333V13H1v-1.333333zM3.6666667 1H5v1.3333333H3.6666667V1zm0 10.666667H5V13H3.6666667v-1.333333zM6.3333333 1h1.3333334v1.3333333H6.3333333V1zm0 2.6666667h1.3333334V5H6.3333333V3.6666667zm0 5.3333333h1.3333334v1.333333H6.3333333V9zm0 2.666667h1.3333334V13H6.3333333v-1.333333zM9 1h1.333333v1.3333333H9V1zm0 10.666667h1.333333V13H9v-1.333333zM11.666667 1H13v1.3333333h-1.333333V1zm0 2.6666667H13V5h-1.333333V3.6666667zm0 5.3333333H13v1.333333h-1.333333V9zm0 2.666667H13V13h-1.333333v-1.333333z"/></svg>');
}

.html-editor2-wrapper.dark .html-toolbar .icon-hr {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --><svg fill="white" width="800px" height="800px" viewBox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.333333h12v1.333334H1V6.333333z"/><path fill="gray" d="M1 1h1.3333333v1.3333333H1V1zm0 2.6666667h1.3333333V5H1V3.6666667zM1 9h1.3333333v1.333333H1V9zm0 2.666667h1.3333333V13H1v-1.333333zM3.6666667 1H5v1.3333333H3.6666667V1zm0 10.666667H5V13H3.6666667v-1.333333zM6.3333333 1h1.3333334v1.3333333H6.3333333V1zm0 2.6666667h1.3333334V5H6.3333333V3.6666667zm0 5.3333333h1.3333334v1.333333H6.3333333V9zm0 2.666667h1.3333334V13H6.3333333v-1.333333zM9 1h1.333333v1.3333333H9V1zm0 10.666667h1.333333V13H9v-1.333333zM11.666667 1H13v1.3333333h-1.333333V1zm0 2.6666667H13V5h-1.333333V3.6666667zm0 5.3333333H13v1.333333h-1.333333V9zm0 2.666667H13V13h-1.333333v-1.333333z"/></svg>');
}

.html-editor2-wrapper.show-blocks .ql-editor h1,
.html-editor2-wrapper.show-blocks .ql-editor h2,
.html-editor2-wrapper.show-blocks .ql-editor h3,
.html-editor2-wrapper.show-blocks .ql-editor h4,
.html-editor2-wrapper.show-blocks .ql-editor h5,
.html-editor2-wrapper.show-blocks .ql-editor h6,
.html-editor2-wrapper.show-blocks .ql-editor p,
.html-editor2-wrapper.show-blocks .ql-editor div,
.html-editor2-wrapper.show-blocks .ql-editor blockquote,
.html-editor2-wrapper.show-blocks .ql-editor pre,
.html-editor2-wrapper.show-blocks .ql-editor address {
    border: 1px dotted gray;
    background-position: 0 0;
    padding-top: 10px;
    padding-left: 8px;
    background-repeat: no-repeat;
    background-size: auto 13px;
}

.html-editor2-wrapper.show-blocks .ql-editor h1 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h1.png');
}

.html-editor2-wrapper.show-blocks .ql-editor h2 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h2.png');
}

.html-editor2-wrapper.show-blocks .ql-editor h3 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h3.png');
}

.html-editor2-wrapper.show-blocks .ql-editor h4 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h4.png');
}

.html-editor2-wrapper.show-blocks .ql-editor h5 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h5.png');
}

.html-editor2-wrapper.show-blocks .ql-editor h6 {
    background-image: url('/_content/FreeBlazor/quill/images/block_h6.png');
}

.html-editor2-wrapper.show-blocks .ql-editor p {
    background-image: url('/_content/FreeBlazor/quill/images/block_p.png');
}

.html-editor2-wrapper.show-blocks .ql-editor div {
    background-image: url('/_content/FreeBlazor/quill/images/block_div.png');
}

.html-editor2-wrapper.show-blocks .ql-editor pre {
    background-image: url('/_content/FreeBlazor/quill/images/block_pre.png');
}

.html-editor2-wrapper.show-blocks .ql-editor blockquote {
    background-image: url('/_content/FreeBlazor/quill/images/block_blockquote.png');
}

.html-editor2-wrapper.show-blocks .ql-editor address {
    background-image: url('/_content/FreeBlazor/quill/images/block_address.png');
}





/*
    Styles for the StringList control
*/
.string-list-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: .2em;
}

.string-list-col-1 {
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: .2em;
}

.string-list-col-2 {
    flex-shrink: 0;
}