@page "/GeneratePassword"

<h1>Generate Password</h1>

<GeneratePassword 
    OnPasswordGenerated="GeneratedPassword"
    OnValueChanged="StateHasChanged"
    RefreshIcon=""
    />

<div class="mt-2">
    @((MarkupString)_results)
</div>

@code {
    protected string _results = "";

    protected void GeneratedPassword(string password){
        _results = "<strong>Password</strong>: " + password;
    }
}
