@page "/DeleteConfirmation"

<PageTitle>Delete Confirmation</PageTitle>
<h1>Delete Confirmation</h1>

<DeleteConfirmation OnConfirmed="OnConfirmDelete" />

<div class="mt-2">@_results</div>

@code {
    protected string _results = "";

    protected void OnConfirmDelete()
    {
        _results = "Confirmed Delete at " + DateTime.Now.ToString();
        StateHasChanged();
    }
}
