@page "/"

<PageTitle>Home</PageTitle>

<h1>FreeBlazor Component Demos</h1>

<p>
    A set of free, open-source Blazor components.
    Contact Brad Wickett at
    <a href="mailto:brad@wickett.net">brad@wickett.net</a>
    for info.
</p>



@code {
}