@inject IJSRuntime jsRuntime
@inject Radzen.DialogService DialogService
<div class="mt-2 mb-2">
    <button type="button" class="btn btn-dark" @onclick="Cancel">
        <i class="fa-solid fa-xmark"></i> Cancel
    </button>
    <button type="button" class="btn btn-success" @onclick="Save" disabled="@(_mode == "source")">
        <i class="fa-solid fa-circle-check"></i> OK
    </button>
</div>
<HtmlEditor2 @ref="_htmlEditor"
        Config="@Config"
        Value="@Value" />
@code {
    /// <summary>
    /// Optional HtmlEditorConfiguration to override default value.
    /// </summary>
    [Parameter]
    public FreeBlazor.HtmlEditor2.Configuration? Config { get; set; }

    /// <summary>
    /// An optional delegate used when the editor is in a dialog to send the HTML back to the calling method.
    /// </summary>
    [Parameter]
    public Delegate? OnEditCompleted { get; set; }

    /// <summary>
    /// Optional HTML to set when the editor is loaded.
    /// </summary>
    [Parameter]
    public string? Value { get; set; }

    protected FreeBlazor.HtmlEditor2.Configuration _config = new FreeBlazor.HtmlEditor2.Configuration();
    FreeBlazor.HtmlEditor2? _htmlEditor;
    protected string _mode = "";

    protected void Cancel()
    {
        DialogService.Close();
    }

    protected async Task Save()
    {
        if (OnEditCompleted != null) {
            string output = String.Empty;
            if(_htmlEditor != null) {
                output = await _htmlEditor.GetHTML();
            }
            
            OnEditCompleted.DynamicInvoke(output);
            DialogService.Close();
        }
    }
}
