<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Demos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AutoComplete" Match="NavLinkMatch.All">
                <i class="fa-regular fa-keyboard" aria-hidden="true"></i> AutoComplete
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AutoGrowText" Match="NavLinkMatch.All">
                <i class="fa-solid fa-text-height"></i> AutoGrowText
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConfirmationCode" Match="NavLinkMatch.All">
                <i class="fa-solid fa-xmarks-lines"></i> ConfirmationCode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DateTimePicker" Match="NavLinkMatch.All">
                <i class="fa-regular fa-calendar" aria-hidden="true"></i> DateTimePicker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GetInput" Match="NavLinkMatch.All">
                <i class="fa-solid fa-font" aria-hidden="true"></i> GetInput
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Dialogs" Match="NavLinkMatch.All">
                <i class="fa-regular fa-window-restore"></i> Dialog Examples
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GeneratePassword" Match="NavLinkMatch.All">
                <i class="fa-solid fa-key" aria-hidden="true"></i> GeneratePassword
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DeleteConfirmation" Match="NavLinkMatch.All">
                <i class="fa-solid fa-trash-can-arrow-up" aria-hidden="true"></i> DeleteConfirmation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HTMLEditor" Match="NavLinkMatch.All">
                <i class="fa-solid fa-code" aria-hidden="true"></i> HtmlEditor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MultiSelect" Match="NavLinkMatch.All">
                <i class="fa-solid fa-check-double" aria-hidden="true"></i> MultiSelect
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PagedRecordset" Match="NavLinkMatch.All">
                <i class="fa-solid fa-table" aria-hidden="true"></i> PagedRecordset
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StringList" Match="NavLinkMatch.All">
                <i class="fa-solid fa-list"></i> StringList
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TogglePasswordInput" Match="NavLinkMatch.All">
                <i class="fa-solid fa-lock" aria-hidden="true"></i> TogglePasswordInput
            </NavLink>
        </div>
    </nav>
</div>

