<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Demos.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="_content/FreeBlazor/styles.css" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="js/jquery/jquery-3.7.0.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.web.js"></script>

    <script type="text/javascript">
        function CopyToClipboard(value) {
            navigator.clipboard.writeText(value);
        }

        function DelayedFocus(element) {
            setTimeout(() => DelayedFocusInternal(element, 0), 0);
        }

        function DelayedFocusInternal(element, safety) {
            if (safety > 20) { return; }
            safety++;

            if ($("#" + element).is(":visible") == true) {
                // See if the element is a <div>. If so, find the first child that is an input.
                if ($("#" + element).is("div") || $("#" + element).is("table")) {
                    var input = $("#" + element).find('input,textarea,select').filter(":visible:first");
                    if (input != null) {
                        input.trigger("focus");
                    }
                } else {
                    $("#" + element).trigger("focus");
                }
            } else {
                setTimeout(() => DelayedFocusInternal(element, safety), 20);
            }
        }
    </script>
</body>

</html>
